name: faz3a_app
version: 1.0.0

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.0.0
  http: ^0.13.3
  shared_preferences: ^2.0.6
  flutter_svg: ^1.0.3
  image_picker: ^0.8.4
  dio: ^5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
